.outline {
  border: 1px solid lightgray;
}

#sp10-title {
  margin-top: 0.25rem;
  font-size: 4rem;
}

#sp10-updated {
  margin-top: 2rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}
