* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.click-pointer {
  cursor: pointer;
}

.w3 {
  font-weight: 300;
}

.w4 {
  font-weight: 400;
}

.w5 {
  font-weight: 500;
}

.w7 {
  font-weight: 700;
}

.w9 {
  font-weight: 900;
}

#sp10-title {
  font-size: 4rem;
}

#sp10-subtitle {
  margin-top: -1rem;
  color: gray;
}

.container {
  padding: 20px 20px 30px 20px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

#tooltip {
  color: green;
  width: 500px;
  height: 500px;
}

.padding-right {
  padding-right: 30px;
}

.section-title {
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
}

.section-title-stocks {
  margin-bottom: 0px !important;
}

.ticker-number {
  font-size: 1.4rem;
}

.chart-number {
  font-size: 1.4rem;
}

.horizontal-spacer {
  margin-bottom: 25px;
}

.ticker-name {
  font-size: 0.8rem;
}

.data-equal {
  display: flex;
  justify-content: space-between;
}

.data-left {
  display: flex;
  justify-content: flex-start;
}

.selected {
  font-weight: 700;
}

.stock-row-container {
  cursor: pointer;
  :hover {
    background-color: rgb(245, 245, 245);
  }
}

.stock-row {
  padding: 17px 0;
  border-bottom: 1px solid rgb(231, 231, 231);
}

@media (max-width: 600px) {
  #sp10-title {
    text-align: center;
  }

  #sp10-subtitle {
    text-align: center;
  }

  .padding-right-30 {
    padding-right: 0px;
  }

  .section-title {
    text-align: center;
  }

  .chart-number {
    font-size: 1.1rem;
  }
}
