.outline {
  border: 1px solid lightgray;
}

#sp10-title {
  margin-top: 0.25rem;
  font-size: 4rem;
}

#sp10-subtitle {
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 1rem;
  color: gray;
}

#sp10-updated {
  margin-top: 2rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

#tooltip {
  color: green;
  width: 500px;
  height: 500px;
}
